<header class="panel banner">
	//= navigation.html

	<div class="counter">
		<div class="counter__head">
			our content has reac
		</div>
		<div class="counter__cur">
			1 000 030 021
		</div>
		<div class="counter__cap">viewers</div>
	</div>
	<div class="bgWrap">
		<div data-speed="10" class="bgBack layer">
			<div class="bgBack__blur1 moveR"></div>
			<div class="bgBack__blur2 moveR"></div>
			<div class="bgBack__blur3 moveR"></div>
			<div class="bgBack__blur4 moveR"></div>
		</div>
		<div data-speed="30" class="bgMiddle layer">
			<div class="bgMiddle__bg1 moveMid"></div>
			<div class="bgMiddle__bg2 moveMid"></div>
			<div class="bgMiddle__bg3 moveMid"></div>
		</div>
		<div data-speed="50" class="bgFront layer">
			<div class="bgFront__bg1 moveFront"></div>
			<div class="bgFront__bg2 moveFront"></div>
			<div class="bgFront__bg3 moveFront"></div>
		</div>

	</div>
	<div data-offset="20" id="card" class="card">
		<div data-offset="25" class="card__cap card__layer">practice by SZE</div>
		<h1 data-offset="5" class="card__header card__layer">creative</h1>
		<div data-offset="20" class="card__love card__layer"></div>
	</div>

</header>