<header class="panel banner">
	//= navigation.html

	<div class="counter">
		<div class="counter__head">
			our content has reac
		</div>
		<div class="counter__cur">
			1 000 030 021
		</div>
		<div class="counter__cap">viewers</div>
	</div>
	<div class="bgWrap container">
		<div class="bgBack">
			<div class="bgBack__blur1"></div>
			<div class="bgBack__blur2"></div>
			<div class="bgBack__blur3"></div>
			<div class="bgBack__blur4"></div>
		</div>
		<div class="bgMiddle">
			<div class="bgMiddle__bg1"></div>
			<div class="bgMiddle__bg2"></div>
			<div class="bgMiddle__bg3"></div>
		</div>
		<div class="bgFront">
			<div class="bgFront__bg1"></div>
			<div class="bgFront__bg2"></div>
			<div class="bgFront__bg3"></div>
		</div>


	</div>
	<div class="card">
		<div class="card__cap">practice by SZE</div>
		<h1 class="card__header">creative</h>
	</div>

	<div class="bgLayer2"></div>

</header>