<section id="client" class="panel clients lightBgNavigator">
	//= navigation.html

	<div class="client__bgBack">
		<div class="client__blur1 move"></div>
		<div class="client__blur2 move"></div>
		<div class="client__blur3 move"></div>
	</div>

	<div class="content container">
		<div id="cont" class="content__text">
			<h2 class="content__head">150+ <br> CLIENTS</h2>
			<p class="content__paragr">We work with some of the biggest gaming entertainers & world-renowned
				organisations.</p>
				<a class="content__link" href="#" > view all</a>
		</div>
		<ul id="tiles" class="content__tiles">


			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/Group44.jpg" alt="Liam Payne">
					<div class="tile__hover">
						<div class="tile__com">Channel <br> Operation and Management</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Liam Payne</span>
			</li>


			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/bottle.jpg" alt="Juice Burst">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Juice Burst</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/girl.jpg" alt="Rita Ora">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Rita Ora</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/Popjam.jpg" alt="Popjam">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Popjam</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/Jonas Blue.jpg" alt="Jonas Blue">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Jonas Blue</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/Logan Paul.jpg" alt="Logan Paul">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Logan Paul</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/bottle.jpg" alt="Juice Burst">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Juice Burst</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/girl.jpg" alt="Rita Ora">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Rita Ora</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/Group44.jpg" alt="Liam Payne">
					<div class="tile__hover">
						<div class="tile__com">Channel <br> Operation and Management</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Liam Payne</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/bottle.jpg" alt="Juice Burst">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Juice Burst</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/girl.jpg" alt="Rita Ora">
					<div class="tile__hover">
						<div class="tile__com">
							Channel <br> Operation and Management
						</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<!-- <span class="tile__arr"></span> -->
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Rita Ora</span>
			</li>
			<li class="tile content__tile">
				<div class="tile__img">
					<img src="images/clients/Group44.jpg" alt="Liam Payne">
					<div class="tile__hover">
						<div class="tile__com">Channel <br> Operation and Management</div>
						<div class="tile__size">8.2M +</div>
						<a href="#" class="tile__link">Video Link
							<svg class="tile__arr">
								<use xlink:href="#arr" x="0" y="0" />
							</svg>
						</a>
					</div>
				</div>
				<span class="tile__label">Liam Payne</span>
			</li>
		</ul>
	</div>


	
</section>