<div class="panel">
	<section class="ourteam lightBgNavigator">
		//= <navigation class="html"></navigation>
		<div class="ourteam__bgBack">
			<div class="ourteam__blur1"></div>
			<div class="ourteam__blur2"></div>
			<div class="ourteam__blur3"></div>
		</div>
		<div class="container">
			<h2 class="ourteam__header" >our team</h2>
			<div class="slider">
				
				<div class="slider__control">
					<button class="slider__btnRight">prev</button>
					<button class="slider__btnLeft">next</button>
				</div>

				<div class="slider__wrap">
					<ul class="slider__list">
						<li class="slider__item">
							<img class="slider__img" src="../images/team/people.png" alt="people" >
							<div class="slider__hover">
								<div class="slider__name">Thomas French</div>
								<div class="slider__rol">Video Maker</div>
							</div>
						</li>
						<li class="slider__item">
							<img class="slider__img" src="../images/team/people2.png" alt="people" >
							<div class="slider__hover">
								<span class="slider__name">Thomas French</span>
								<span class="slider__rol">Video Maker</span>
							</div>
						</li>
						<li class="slider__item">
							<img class="slider__img" src="../images/team/people3.png" alt="people" >
							<div class="slider__hover">
								<div class="slider__name">Thomas French</div>
								<div class="slider__rol">Video Maker</div>
							</div>
						</li>
						<li class="slider__item">
							<img class="slider__img" src="../images/team/people4.png" alt="people" >
							<div class="slider__hover">
								<div class="slider__name">Thomas French</div>
								<div class="slider__rol">Video Maker</div>
							</div>
						</li>
					</ul>
				</div>
			</div>	
		</div>
		
	</section>
	//= footer.html
</div>