<section class="panel wedo">
	//= navigation.html
	<div class="wedo__container container">
		<h2 class="wedo__header">we do</h2>
		<div class="wrapDo">
			<div class="btnPanel">
				<button data-serv="managment" class="btnPanel__btn active"></button>
				<button data-serv="ceative" class="btnPanel__btn"></button>
				<button data-serv="design" class="btnPanel__btn"></button>
				<button data-serv="busines" class="btnPanel__btn"></button>
				<button data-serv="animation" class="btnPanel__btn"></button>
				<button data-serv="brand" class="btnPanel__btn"></button>
			</div>
			<div data-serv="managment" class="figure "> <!-- change category (data-serv) for replacement img here -->
				<div class="figure__descr">
					<h3 class="figure__serv"></h3>
					<a class="figure__link"href="#">learn more</a>
				</div>
				<div class="figure__bgBack ">
					<div class="figure__blur1"></div>
					<div class="figure__blur2"></div>
					<div class="figure__blur3"></div>
				</div>
			</div>
		</div>
	</div>

</section>