$bgFirst: #170119;
$bgSec:#FFECEE;

$clrFont:#D2132A;
$clrFontHead:#383030;
$clrFontSec:#643C5A;
$clrFontTh:#F9A608;

$clrBtn: rgba(100, 60, 90, 0.2);
$clrBtnHov:rgb(177, 2, 23);
$cursor:url('../images/cursor.cur');
$pointer:url('../images/cursorHov.cur');
